<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="volcaniaConnectionString" connectionString="Data Source=ROSTON-PC\SQLEXPRESS;Initial Catalog=volcania;Integrated Security=True;Context Connection=False"
   providerName="System.Data.SqlClient" />
    <add name="ConnStr" connectionString="Data Source=ROSTON-PC\SQLEXPRESS;Initial Catalog=volcania;Integrated Security=True;Context Connection=False"/>
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>



